{
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {"removeImport": true}],
        "transform-react-pure-class-to-function",
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-transform-runtime"
      ]
    }
  },
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
