{
  "presets": [
    ["@babel/preset-env", {
      "targets": { "browsers": [
        ">0.25%",
        "not ie 11",
        "not op_mini all"
      ] }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-inline-elements",
        ["transform-react-remove-prop-types", {"removeImport": true}],
        "@babel/plugin-transform-react-constant-elements"
      ]
    }
  }
}
